**Домашнее задание**

**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

Задание 1

In [ ]:
import pandas as pd

In [6]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
movies['title'][movies.movieId == ratings[(ratings.rating == 5.0)].movieId.value_counts().index[0]].values[0]

'Shawshank Redemption, The (1994)'

Задание 2

In [18]:
data = pd.read_csv('power.csv')
data.tail()

          country  year  quantity  category
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

In [21]:
data[ data['country'].str.contains('lat', case=False) ]['country'].unique()

array(['Latvia'], dtype=object)

In [22]:
data[ data['country'].str.contains('lit', case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [23]:
data[ data['country'].str.contains('est', case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [92]:
filtered_countries = data[ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')]
filtered_category = filtered_countries[ (filtered_countries['category']== 4 ) | (filtered_countries['category']== 12 ) | (filtered_countries['category']== 21)]
filtered_year = filtered_category[(filtered_category['year'] >= 2005) & (filtered_category['year'] <= 2010) & (filtered_category['quantity'] >= 0)]
filtered_year.head()

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10618     Estonia  2007       0.0         4
10619     Estonia  2006       0.0         4
10620     Estonia  2005       1.0         4
11156   Lithuania  2008       1.0         4
...           ...   ...       ...       ...
253982  Lithuania  2009      98.0        21
253983  Lithuania  2008      54.0        21
253984  Lithuania  2007      47.0        21
253985  Lithuania  2006      31.0        21
253986  Lithuania  2005       1.0        21

[408 rows x 4 columns]

In [86]:
Total = filtered_year['quantity'].sum()
print ("Cуммарное потребление стран Прибалтики:",Total)

Cуммарное потребление стран Прибалтики: 240580.0

Задание 3

In [1]:
import pandas as pd

In [5]:
page_url = 'https://cryptocharts.ru'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, attrs = {'class': 'c_tab'}, encoding='utf-8')

In [6]:
df[:5]

[      Код               Валюта          Курс    за сегодня           Дата
 0     BTC              Биткоин  3.251564e+06 -225670.22000  10.02.2119:10
 1     ETH              Эфириум  1.254389e+05   -4463.83000  10.02.2119:10
 2    USDT               Tether  7.391400e+01      -0.21531  10.02.2119:10
 3     ADA              Cardano  5.988010e+01       9.32370  10.02.2119:10
 4     XRP                 Рипл  3.546400e+01       1.13800  10.02.2119:10
 ..    ...                  ...           ...           ...            ...
 259   GTO                Gifto  2.986500e+00       2.98650  04.02.2100:00
 260   CND           Cindicator  1.146600e+00       1.14660  04.02.2100:00
 261   GXC              GXChain  3.246260e+01      32.46260  03.02.2119:20
 262  SERO  Super Zero Protocol  7.202700e+00       7.20270  03.02.2113:50
 263  VIDT                 V-ID  4.259720e+01      42.59720  03.02.2111:10

 [264 rows x 5 columns]]

In [4]:
pd.read_html('https://cryptocharts.ru')[0]

      Код               Валюта          Курс    за сегодня           Дата
0     BTC              Биткоин  3.251564e+06 -225670.22000  10.02.2119:10
1     ETH              Эфириум  1.254389e+05   -4463.83000  10.02.2119:10
2    USDT               Tether  7.391400e+01      -0.21531  10.02.2119:10
3     ADA              Cardano  5.988010e+01       9.32370  10.02.2119:10
4     XRP                 Рипл  3.546400e+01       1.13800  10.02.2119:10
..    ...                  ...           ...           ...            ...
259   GTO                Gifto  2.986500e+00       2.98650  04.02.2100:00
260   CND           Cindicator  1.146600e+00       1.14660  04.02.2100:00
261   GXC              GXChain  3.246260e+01      32.46260  03.02.2119:20
262  SERO  Super Zero Protocol  7.202700e+00       7.20270  03.02.2113:50
263  VIDT                 V-ID  4.259720e+01      42.59720  03.02.2111:10

[264 rows x 5 columns]